[2014-09-10 14:32] hcarty opened #1 "%import + @@deriving not working"
With OCaml 4.02.0 and the latest utop, ppx_deriving and ppx_import from opam:

[code]

[2014-09-10 14:44] hcarty opened #2 "Can't %import from local modules"
For example:

[code]

Gives:

[code]

[2014-09-11 12:37] #1 closed, assigned to nobody

[2014-10-07 18:49] #2 closed, assigned to nobody

[2014-11-24 06:05] struktured opened #3 "importing inside a module generates an error and breaks future access to ppx deriving protobuf"
[code]

[2015-03-19 11:11] hcarty opened #4 "Unable to import a type which depends on another"
It would be nice if it were possible to import a type from a module which depends on another type from the same module.

Example:

a.ml
[code]
b.ml
[code]
Try to build:
[code]

[2015-03-19 11:13] hcarty commented on #4
You can work around this issue by adding a line to the top of b.ml:
[code]
That could get confusing if you have `A.t` and `B.t`.

[2015-03-19 11:14] whitequark commented on #4
See https://github.com/whitequark/ppx_import#with-replacements

[2015-03-19 14:06] hcarty commented on #4
Thank you @whitequark.

For anyone reading this later, a working version using `@with` is:

b.ml
[code]

[2015-03-19 14:06] #4 closed

[2015-05-13 22:55] dbuenzli opened #5 "Update packaging"
This [kind](https://github.com/whitequark/ppx_import/blob/ead77f21128962f9059321b0e3f5b654bbcf48d7/pkg/build.ml#L8) of relative tricks is not good to have in `.install` files. Please update `topkg` and use the [`libexec`](https://github.com/dbuenzli/topkg/blob/739dda903df9363114f963795f4e31caf63965b5/pkg/topkg.ml#L72) field.

Note if you pin the `topkg` repo it will install this [topkg-update](htt

[2015-05-13 23:00] whitequark commented on #5
This would require something in `opam` to restrict the opam version, right?

[2015-05-13 23:07] dbuenzli commented on #5
Good question. @AltGr to the rescue.

[2015-05-15 00:16] AltGr commented on #5
See https://github.com/ocaml/opam/issues/2153#issuecomment-101908269
Of course, you could also just restrict using `available: [ opam-version >= "1.2.2" ]` in your opam file.

[2015-05-15 00:20] whitequark commented on #5
Ok yes, I am definitely not using that workaround. opam-version restriction it is...

[2015-05-15 00:21] #5 closed

[2015-05-15 00:29] dbuenzli commented on #5
@whitequark agreed. Depending on your users you may want not want to bother them with that too soon. But eventually it would be nice if we can get rid of relative tricks in `.install` files.

[2015-05-15 00:33] dbuenzli commented on #5
(But I'm glad you made the change since this is the kind of simple `ppx` you may start to c&p from --- which I did myself and lead to own confusion https://github.com/dbuenzli/topkg/issues/12)

[2015-05-15 00:33] whitequark commented on #5
Yeah, that was my motivation. Also better to not spread the tricks this way.

I can easily do a release since there are no functional changes.

[2015-12-17 03:53] camlspotter opened #6 "ppx_import binary should be installed as ppx_import$(EXE) for Windows"
I guess it is an issue of `pkg`, but the ppx command is installed without `.exe` suffix and failed to invoke in MinGW OCaml.

[2015-12-17 04:11] camlspotter opened #7 "Parameterized types cannot be imported."
How can I import data types with paramters?

[code]

`type 'a t = [%import: 'a X.t]` fails saying "Invalid [%import] syntax".

`type 'a t = [%import: X.t]` produced the following code which is invalid:

[code]

[2015-12-17 09:29] #7 closed

[2015-12-17 09:34] whitequark commented on #3
@alainfrisch Could you take another look? Still happens in 4.02.3

[2015-12-17 09:43] whitequark commented on #3
Triaged as http://caml.inria.fr/mantis/view.php?id=7098.

[2015-12-17 09:43] #3 closed

[2015-12-17 09:45] whitequark commented on #6
Please see https://github.com/dbuenzli/topkg/issues/11.

[2015-12-17 09:45] whitequark commented on #6
(I am keeping this open as topkg will have to be updated once this is fixed.)

[2015-12-17 20:55] whitequark commented on #6
@camlspotter This should be fixed in master with updated topkg--can you take a look?

[2015-12-18 06:45] camlspotter commented on #6
Tried the following

[code]

but it failed to build `ppx_import.native.exe`:

[code]

So now the build target is fixed, but the rules do not know how to build `*.native.exe`.

If I would know ocamlbuild I could help but I am OMake person...

[2015-12-18 06:51] whitequark commented on #6
How can I reproduce your environment?

[2015-12-18 07:14] camlspotter commented on #6
I use Cygwin OPAM command with MinGW OCaml.  I made a log here: https://bitbucket.org/camlspotter/opamingw .  There is no automatic way yet...
As you have seen, the error happens with `ocaml pkg/build.ml native=true native-dynlink=true` therefore it does not relate with this strange OPAM use.

Thinking that I can easily fix by renaming the executables with `.exe` after `opam install ppx_import` an

[2015-12-18 07:15] whitequark commented on #6
This should be trivial to fix in topkg...

[2015-12-18 19:13] dbuenzli commented on #6
@whitequark can you please try again with latest topkg.

[2015-12-18 19:15] whitequark commented on #6
Just pushed 2c49cfa with updated topkg, yes

[2016-01-28 19:58] dbuenzli commented on #6
Did it work ?

[2016-02-22 02:19] camlspotter commented on #6
`opam pin add ppx_import .` worked fine in MinGW OPAM.  Thanks!

[2016-02-22 02:19] #6 closed

[2016-05-09 04:36] camlspotter opened #8 "Support of primitive type declaration"
It seems ppx_import.1.1 drops `private` flag from the imported type declaration.  For example, the following type definition of `Primitive.description`:
[code]

`type description = [%import: Primitive.description]` seems to create the following type definition:

[code]

[2016-05-09 04:42] whitequark commented on #8
Are you saying this worked on 1.0? That seems odd... I don't remember altering those code paths.

[2016-05-09 04:58] camlspotter commented on #8
No.  I mean it ignores `private` keyword by "drops".    (I have no idea ppx_import.1.0 worked with private data types.)

[2016-05-10 03:29] #8 closed

[2016-05-16 04:21] camlspotter commented on #8
Oh... now I noticed the ticket title was "primitive" not "private"... Sorry if it confused you.

[2016-05-16 04:34] whitequark commented on #8
Oh I didn't even notice that...

[2017-04-20 13:07] xguerin opened #9 "ppx_import and oasis"
Hello,

I realize that this problem might be `oasis`-related, so apologies in advance. I am trying to build a simple file with `ppx_import`:

Gramma.mli:

[code]

Grammar.ml:

[code]

My `oasis` target has a `BuildDepends` on `ppx_import`. Things seem to compile fine, but the build process eventually fails complaining about the existence of circular reference in `Grammar.ml`.

I suspect that `oasi

[2017-04-20 13:57] whitequark commented on #9
I think this is a bug in ppx_import. Unfortunately, I do not have time to fix it.

[2017-04-21 19:44] xguerin commented on #9
Attempting to solve this in #10.

[2017-04-22 19:15] #9 closed

[2017-05-10 15:16] vogler opened #11 "toplevel support for OCaml 4.04?"
OCaml version 4.03.0:
[code]

OCaml version 4.04.1:
[code]

[2017-05-19 18:32] smolkaj opened #12 "self-import of module types"
While importing types from the own *.mli file works fine as demonstrated in [src_test/test_self_import.{ml,mli}](https://github.com/whitequark/ppx_import/tree/master/src_test), self-importing **module types** doesn't seem to work:

**test_self_import_module_type.ml**
[code]
**test_self_import_module_type.mli**
[code]
**compilation**:
[code]

Is this a known limitation? This would be very useful!

[2017-05-19 20:17] whitequark commented on #12
Bug. At the moment I have no time to implement this but will review and accept a PR.

[2017-05-20 02:33] smolkaj commented on #12
@xguerin, I saw that you implemented self-import for types in #10. Any chance you may have the cycles to take a look at this? I would certainly appreciate it.

[2017-05-20 17:34] xguerin commented on #12
I planned to look into it as a next step. I'm not sure when I'll get a chance to look at it but that's certainly on my todo list.

[2017-05-26 09:43] sebastiansturm opened #13 "Drop 'private' on demand?"
Hi,

I'd like to redeclare many of my currently abstract types as private so their contents are visible to ocamldebug. If ppx_import allowed me to change an imported type's visibility from private to public on demand, I could do that with a lot less redundant typing. Do you think such a feature could be added (maybe by resurrecting the commit prior to #8 and exposing it via another directive such

[2017-05-26 09:49] whitequark commented on #13
I'm confused. Can you show me a minimal example with your current code, and with your desired code? Also, ppx_import adds a manifest type so I think if ppx_import did what you want it'd not typecheck.

[2017-05-26 12:08] sebastiansturm commented on #13
sure, let's say I have a module named `Test`, where `Test.mli` contains the following:
`type t = private A of int | B (* not declared abstract as that would render ocamldebug relatively useless *)
(* ... function declarations follow *)`
Within `Test.ml`, I'd now have to completely replicate the declaration of `t`, up to the keyword 'private':
`type t = A of int | B
(* ... etc ... *)`
That way, the

[2017-05-26 13:17] whitequark commented on #13
Ohh you mean importing from own mli! There should just be a branch that if you import from your own mli then `private` should be dropped. Because there is no way to construct this type otherwise.

[2017-05-26 14:22] sebastiansturm commented on #13
that would be awesome :)

[2017-05-26 15:41] whitequark commented on #13
I have no plans to implement this but you are welcome to submit a PR. Such a change should be fairly trivial.

[2017-06-05 15:09] whitequark commented on #12
Fixed by #14

[2017-06-05 15:09] #12 closed

[2017-08-21 14:54] whitequark commented on #11
Hm, no idea why this broke, sorry.

[2017-08-29 21:37] ejgallego opened #17 "Broken with ppx using `ppx_driver` "Error: Attribute `with' was not used""
When using `ppx_import` with some other ppx rewriters such as `ppx_sexp_conv` we get:

[code]

Thanks!

[2017-08-29 21:40] whitequark commented on #17
OK, ppx_deriving and ppx_sexp_conv coexistence is currently completely unusable. This is bad.
cc @diml

[2017-08-29 21:51] ejgallego commented on #17
Adding `-ppxopt "ppx_sexp_conv,-no-check"` seems to fix the issue thou, but it is a bit painful to do in e.g. ocamlbuild-based projects (c.f. ocaml/ocamlbuild#45)

[2017-08-29 22:00] ejgallego commented on #17
Ups, I was wrong, I was not able to fix the problem with `-no-check`.

[2017-08-30 13:50] ejgallego commented on #17
I traced this back to `ppx_deriving` 4.2. Downgrading to 4.1 solves the problem.

[2017-09-18 02:29] smolkaj opened #18 "Not compatible with jbuilder"
Are there any plans to make this rewriter work with jbuilder? ppx_deriving now works with jbuilder since recently.

[2017-09-18 02:40] whitequark commented on #18
As soon as I find some time to figure out how jbuilder works, sure...

[2017-12-14 01:34] ejgallego commented on #17
That has been working fine for some time; thanks to all who have helped!

[2017-12-20 15:27] ejgallego commented on #17
Well, the `v0.10.0` versions of the JS stuff has broken `ppx_import` again:
[code]
the situation continues to be a bit frustrating I'm afraid :(

[2017-12-20 15:36] gasche commented on #17
If I understand things correctly, we (people willing to fix bugs in ppx_import) have no control/agency over what the drivers that you use decide to do, and to fix the problem you observe. So it's good to open the PR here to track progress, but you should really creating an issue with the people who released "the v0.10.0 versions of the JS stuff", because the fix may be on their side.

[2017-12-20 15:42] ejgallego commented on #17
Thanks for you help @gasche , I am afraid that even after reading https://github.com/ocaml-ppx/ppx_deriving/issues/153 , I don't understand what is going on, and how to even start looking at the problem.

All that I have is a simple `_tags` file with:
[code]
and a declaration such as:
[code]
that was working fine, now I just did `opam upgrade`, and everything breaks again...

How am I supposed to

[2017-12-20 15:54] diml commented on #17
It seems that a change in ppx_driver.v0.9 wasn't properly integrated in the development version. Hopefully this should be fixed by https://github.com/ocaml/opam-repository/pull/11078

[2017-12-20 15:57] gasche commented on #17
@diml thanks! I was about to ping you.

[2017-12-20 16:48] ejgallego commented on #17
Thanks @diml !

[2017-12-20 17:22] ejgallego commented on #17
v0.10.1 seems to solve the problem, uff, what a relief! XD. Thanks to both again!

[2017-12-20 17:23] #17 closed

[2017-12-24 12:27] gerdstolpmann opened #20 "import doesn't work for submodules"
e.g.
[code]

I just ran into the issue because I couldn't add the `[@@deriving]` clause directly to the module `M` for formal reasons (a bad interaction with `include module type of`), so I thought I could derive in another module defined in the same file. Fortunately, I could work around my moving `M` to a file of its own. Neverthless, this restriction was a surprise.

[2017-12-24 12:31] gerdstolpmann opened #21 "order matters when requiring both ppx_import and ppx_deriving"
It works only when requiring `ppx_import` first. Please mention this in the docs, as it is easy to overlook.

E.g. doing it wrong:

[code]

Fix is to require the other way round (well, `M` must be in a file of its own, of course, as I also figured out).

[2017-12-24 13:40] whitequark commented on #21
This is mentioned in the docs: https://github.com/ocaml-ppx/ppx_import#combining-with-deriving.

[2017-12-24 13:40] #21 closed

[2017-12-24 13:41] whitequark commented on #20
Related to #14

[2017-12-25 12:17] gerdstolpmann commented on #21
Ok, admittedly I did not understand this sentence... I read it over and over, and it not make sense until I found the fix on my own.

[2018-01-14 14:56] andy-morris opened #22 "Fails with assertion on nested modules"
With the following files:

[code]

I get the error "`File "src/ppx_import.cppo.ml", line 313, characters 9-15: Assertion failed`".

(This is with the version 1.4 currently in opam for compiler version 4.06.0.)

[2018-01-16 00:04] xguerin commented on #20
The import logic for submodules is incomplete. Related to #22. I'll look into it.

[2018-01-16 00:06] xguerin commented on #22
Related to #20. Closing this entry. I'll look into it.

[2018-01-16 00:06] #22 closed

[2018-01-16 00:10] xguerin commented on #18
I raised the question on the ML some time ago when I tried to port `ppx_import` to jbuilder. In short, `jbuilder` makes the hypothesis that `PPX` are self-contained, ie. that they don't have any external dependencies and especially not build artifacts.

So unless that changes, support for `ppx_import` is unlikely. For reference, see https://github.com/janestreet/jbuilder/issues/193.

[2018-01-16 00:10] #18 closed

[2018-09-04 09:51] ejgallego opened #26 "Dune / OMP support"
Dear `ppx_import` devs, as noted in https://github.com/ocaml/dune/issues/193#issuecomment-418307716 , Dune can support `ppx_import` style rewriters now.

However, some action would be needed on the `ppx_import` part. In particular, migrating it to use `ocaml-migrate-parsetree`, and maybe, even porting the build system to Dune (which IMVHO seems like a good idea).

Do you think any of these goals a

[2018-09-04 09:58] whitequark commented on #26
Yes and yes.

[2018-09-04 10:05] ejgallego commented on #26
Great, thanks @whitequark ; IIUC, using OMP requires to choose a version to start with, I understand that `Ast_407` is the preferred choice?

[2018-09-04 10:14] whitequark commented on #26
Sure.

[2018-09-04 11:30] ejgallego commented on #26
I opted to use `Ast_406` as the versioned `ppx_tools.metaquot` does not yet support 4.07.

The main roadblock I'm facing for now is the lack of `Types` support in OMP. Example:
[code]
Here, `label` comes from the current OCaml compiler, however `Typ.arrow` is in OMP so types do not match.

What strategy would you recommend folks ? Thanks!

p.s: The tree I'm working on is at https://github.com/ejga

[2018-09-04 11:54] whitequark commented on #26
Right. I'm not actually sure this is easily solvable.

[2018-09-04 11:57] ejgallego commented on #26
There's not a lot of stuff to "migrate"; I could file a request to OMP so they support `Types`, or build a compat module in `ppx_import` itself.

However I have 0 experience with ppx so I'd appreciate guidance from the far more experienced people around.

[2018-09-04 11:57] whitequark commented on #26
The problem is that ppx_import depends on Untypeast...

[2018-09-04 12:00] ejgallego commented on #26
Sorry if my questions are naïve @whitequark , where is this dependency inserted? I can't seem to locate it.

[2018-09-04 12:02] ejgallego commented on #26
Another naïve question I have is whether we should target `ppxlib` or `ppx_tools_versioned`.

[2018-09-04 12:03] whitequark commented on #26
Hm, maybe not anymore. Really, I haven't worked with any of this in ages, @gasche would probably be in a much better position to answer.

[2018-09-04 12:04] gasche commented on #26
I think it should be possible to separate (conceptually) the aspects of ppx_import that rely on the parsetree, and those that rely on the typedtree. Then the parsetree stuff would be versioned, and the typedtree stuff I guess would remain version-pinned (or you motivate people to implement ocaml-migrate-typedtree indeed).

The case you highlight is special in that a typedtree-world value, `label`,

[2018-09-04 12:05] ejgallego commented on #26
Well, the only place I can see is `Ast_mapper.register`, in fact, I am not sure how this should be replaced in the new code.

If we forget about the typedtree migration [which can be achieved by compiling the plugin in 4.06.1], the only bits to replace in order to get the rewrite to compiler are:
- `Ast_mapper.tool_name`: I'm unsure what's the equivalence now.
- `Ast_mapper.register`: ditto.

[2018-09-04 12:07] ejgallego commented on #26
Yup, that looks like a good plan. However before we do this I'd like to get the rewriter working with 4.06.1 + `Ast_406` [which seems to work]. Then we can go back and support a few compiler with a mini-migrate typedtree.

[2018-09-04 12:26] ejgallego commented on #26
Thanks @diml !

[2018-09-04 12:29] gasche commented on #26
@diml while you are here (thanks!), how to `Ppxlib.Deriving` plugin deal with the typedtree versioning issue? Do they never observe typed declarations or use `Env`?

[2018-09-04 12:48] diml commented on #26
They don't... In general, it's not clear how two ppx rewriters using the typer can be used together, so ppxlib doesn't try to support these. ppx_import is a particular case as it doesn't need to type the input. However, if you consider ppx rewriters such as [ppx_show](https://github.com/diml/ppx_show), it is not possible to use two of these on the same file.

It seems to me that the current ppx mo

[2018-09-04 12:55] ejgallego commented on #26
Ok, I got the rewriter compiling now, however tests fail with:
[code]
will investigate more later.

[2018-09-04 13:36] ejgallego commented on #26
Ok, so with the dune fix things seem to be working now with `ppx_import` in isolation :)

However, combining with `ppx_deriving.show` seems to be a problem:
[code]
I do understand that this will be trickier to solve, right?

[2018-09-04 13:37] diml commented on #26
Yh, it's an ordering problem: ppx_import is not applied soon enough. I'm preparing a patch for omp to allow specifying that a rewriter must be applied before other ones.

[2018-09-04 13:42] diml commented on #26
I made the PR: https://github.com/ocaml-ppx/ocaml-migrate-parsetree/pull/51

[2018-09-04 13:46] ejgallego commented on #26
Thanks @diml . Another weird problem I'm hitting is that `(libraries ...)` don't seem to be properly set when calling `ocamlfind`. For example, I have:
[code]
But I do get:
[code]

[2018-09-04 13:48] ejgallego commented on #26
Does that mean that `coq.stm` should become a runtime dependency of the `ppx`?

[2018-09-04 13:52] diml commented on #26
Hmm, normally when `tool_name = "ocamldep"` ppx_import shouldn't lookup modules in the environment. Could you try printing `tool_name`?

[2018-09-04 13:54] ejgallego commented on #26
[code]

[2018-09-04 14:08] diml commented on #26
Ah, I see the issue. We need a patch in ppxlib as well to not override the tool name. I'm looking at this.

[2018-09-04 14:32] ejgallego commented on #26
I confirm that with the above PR `ppx_import + ppx_sexp_conv` do work ! :tada: :tada: :tada:

The problem with `ppx_deriving.std` persist tho, strange as I'm using `[@@deriving sexp]` without trouble so far.

[2018-09-04 14:34] diml commented on #26
What is the issue with `ppx_deriving.std`? Is it the same as for `ppx_sexp_conv` before the ppxlib fix?

[2018-09-04 14:51] ejgallego commented on #26
The issue is the original one:
[code]
However using `  (preprocess (staged_pps ppx_import ppx_sexp_conv))` works fine in my other project. May be that the ppx ordering is alphabetical.

[2018-09-04 14:57] ejgallego commented on #26
For those interested the OMP / Dune branch works now for `coq-serapi`, provided:
[code]
I'm gonna update the tree to use the order PR at and submit a PR for review, https://github.com/ocaml-ppx/ocaml-migrate-parsetree/pull/51

Thanks a lot to everybody for your help!

[2018-09-04 15:10] diml commented on #26
The ordering is a bit complicated, currently with omp it's a mix of:
1. the order in which the ppx rewriters where specified by the user
2. the AST versions used by indivudial ppx rewriters

That's why we need the `position` argument.

[2018-09-04 15:12] ejgallego commented on #26
Position works fine, thanks @diml

[2018-09-04 20:31] ejgallego commented on #26
@gasche a small note, I think that `ppx_import` doesn't rely on `typedtree` per-se, but in `typed`.

[2018-09-21 11:28] ejgallego commented on #26
Note that #27 , fixing this issue is basically ready for review, and maybe merge.

[2018-11-12 09:45] ejgallego commented on #11
After #26 , the error seems fixed, however I get this:
[code]

[2018-11-13 19:00] ejgallego opened #29 "Release 1.6 / Release Management"
This issue is to discuss release management @whitequark @gasche . A few question:

- should we do a 1.6 release with the Dune-ization of ppx_import?
- should we use Github milestones to track the next release?
- where to document the release procedure using `dune-release`?

[2018-11-13 23:11] gasche commented on #29
- Yes.
- I don't care, I'll follow along if you use them. The process I've been following personally is less structured: there are no planned features for ppx_import that I know of, and we can release whenever we feel that a change (from maintainers or external contributors) deserve to get in the hand of users at this point.
- as far as I know, there is currently no documentation, so if you write

[2018-12-11 15:52] gasche commented on #29
@ejgallego ping, are still you planning to release 1.6?

[2018-12-11 16:00] ejgallego commented on #29
Hi @gasche indeed it is on my TODO list, but I didn't raise the priority too much as the current OPAM version is essentially 1.6.

I'd like to document the dune-release workflow better, not only for this project, but for others that I've ported to it.

[2018-12-11 16:00] ejgallego commented on #29
Is there any rush / deadline so we should hurry up?

[2018-12-11 16:01] gasche commented on #29
None, I was just checking/wondering -- actually I came back to this issue because I was indeed wondering about your recommended dune-release workflow.
Thanks!

[2018-12-11 16:04] ejgallego commented on #29
Sorry for the delay, hopefully I can get to this soon.

[2018-12-27 15:57] Kakadu opened #30 "Possible regression for compiler 4.07"
[code]

[2019-01-28 18:31] ejgallego commented on #29
Once #31 is accepted, we can release 1.6

[2019-04-11 08:47] Leandros opened #34 "%import with deriving eq"
If I try to derive `eq` from imported types, I get the following error message:

[code]

The setup is as follows:

_mod.mli_
[code]

_mod.ml_
[code]

_dune_
[code]

Works fine for `show`, but not for `eq`. Any ideas?

[2019-04-11 09:09] gasche commented on #34
I cannot reproduce the issue with ocaml.4.07.1, ppx_deriving.4.2.1 and ppx_import.1.6. The reproduction command I use is

[code]

[2019-04-11 09:15] Leandros commented on #34
Here is a repro with dune.
[repro.tar.gz](https://github.com/ocaml-ppx/ppx_import/files/3067864/repro.tar.gz)

[2019-04-11 09:41] gasche commented on #34
Looking at `_build/log`, the problem arises when calling `ocamldep` to compute `foo.ml.d`; your usage pattern (depending on the same module being compiled) can only work if `foo.cmi` is already built when the implementation is preprocessed (otherwise `ppx_import` will not find the definition of `Foo.t`), this works correctly if you compile `foo.mli` before you try to process `foo.ml`, but dune fir

[2019-04-11 11:02] Leandros commented on #34
Hmm. Bummer. Thanks.

[2019-04-11 11:14] ejgallego commented on #34
Yup, that's a pain; maybe you could reorganize code to put the necessary definitions on `Mod_intf.ml` ? and then import this module on both your files?

[2019-04-11 12:23] diml commented on #34
This has nothing to do with dune, it has to do with ppx_deriving_eq. When called from ocamldep, ppx_import replaces `type t = [%import ...]` by `type t` and `[@@deriving eq]` doesn't work on abstract types. cf: https://github.com/ocaml-ppx/ppx_import/blob/master/src/ppx_import.ml#L340

[2019-04-11 12:42] gasche commented on #34
Thanks for noticing the ocamldep special case, I hadn't seen that indeed. (I linked the issue to the build system because manual testing doesn't call `ocamldep` at all, and works just fine.)

@diml, do you think that we should fix the issue by also propagating a special-casing of `ocamldep` in ppx_deriving itself? That seems ugly to me, and also the most obvious behavior (not generating any code f

[2019-04-11 12:53] diml commented on #34
Well, i don't really see any other way. But if I'm honest, ppx rewriters simply shouldn't rely on the typer. Even though it is possible to do it, this is not a feature that was properly thought through, well tested, etc and there are a lot of corner cases that can't be solved in the existing system.

However, it would possible to design a ppx2 system with a clear scope that would interact properly

[2019-04-11 13:03] gasche commented on #34
I agree the current state is not optimal; you were involved in the discussion to switch to the typer in ppx_import to avoid namespaces/module-aliases issue, and we collectively didn't see a much better way.

[2019-04-11 13:11] diml commented on #34
Simply reading cmi is not a safe approach. The fact that it uses functions from the typer rather than do the lookup manually is just an implementation detail.

The only way to reliably use feedback from the typer in ppx rewriter would be to limit the scope of ppx to extension point and attributes. Then the expansion could occur directly during typing where we have the correct typing environment.

[2019-04-11 13:19] gasche commented on #34
But we still have the problem of what to do during the dependency-computation phase, where we don't yet have the typing environment at hand (at least given the current structure; something like [codept](https://github.com/Octachron/codept) integrated in the type-checker could solve that), but we still want to know if the plugin would add dependencies.

[Relit](https://github.com/cyrus-/relit) has

[2019-04-11 13:29] diml commented on #34
Well, you could generate fake code or you could simply have a specific API, i.e. a rewriter could register two entry points for a given extension point: a way to query dependencies and a way to expand the code.

These are details that one would sort out while designing the system. In any case, it is important to think about what features we want to provide to users and what is the scope of the sys

[2019-04-11 13:46] gasche commented on #34
In the short term I wonder if there is something we (I?) should do for ppx_deriving as it exists. Hard-coding a special path for ocamldep sounds like the pragmatic approach, but it annoys me to have to audit each plugin.

[2019-04-11 13:54] diml commented on #34
You can always document it as a known bug. Alternatively, you can make ppx_import erase the `[@@deriving attribute]` when called from ocamldep. Not very pretty but at least you'll never have to deal with this issue again.

[2019-04-11 14:04] gasche commented on #34
Yes, but it also leads to incorrect dependencies being computed whenever "no dependency" is not the right choice for a plugin. This may not be an issue as long as the corresponding dependency is on a third-party module (other code somewhere will depend on it so it will be linked in anyway), but in the world of big dune monorepos all the modules are local so we may see build failures in this situat

[2019-04-11 22:05] diml commented on #34
The inter-library graph is roughly the same whether you are in a mono-repo or not. There is no fine dependencies between modules of different libraries. If you depend on a library, you just depend on a single thing that depend on all the modules of the library.

If we wanted finer dependencies for incremental compilation, I suppose we could change the compiler to report what files it actually read

[2019-08-30 10:27] b0o opened #39 "Is it possible to attach an attribute to an imported record's field using [@with]?"
I'm trying to use `ppx_import` in conjunction with `ppx_sexp_conv` to derive sexp conversion functions for an external library (`i3ipc`).

The documentation for `[@with]` is a bit difficult for me to understand, and I am struggling to determine if it's possible to attach an attribute like `[@default None]` to a field of an imported record type using `[@with]` before running the type through `[@@de

[2019-08-30 15:50] ejgallego commented on #39
Hi @b0o , IIANM `@with` is only capable of remapping types, so indeed in this case you cannot do what you want directly. This could be a good feature request tho!

I ignore if there is some other preprocessor that could add the attributes for you.

[2019-08-30 23:14] b0o commented on #39
Thank you @ejgallego, I had a feeling that was the case.

[2019-08-30 23:14] #39 closed

[2019-08-31 00:58] b0o opened #40 "[Feature] Attach attributes inside imported algebraic types"
It seems a large use case for *import* is, as stated in the readme, for use with *deriving* to derive functions for types that you do not own.

However, it is commonly necessary to place attributes within a definition of an algebraic type to specify the desired behavior of a deriving plugin. This does not seem to be currently possible with *import*.

For example, I have a use case (see #39) where

[2019-08-31 14:39] whitequark commented on #40
I am not sure if this can, or even *should* be covered under ppx_import's model. (a) It's likely that adding new variants will require customization, and (b) the workaround you suggested is actually longer than writing out the entire type yourself.

[2019-09-02 07:57] b0o commented on #40
@whitequark Thanks for your feedback! You bring up good points.

**A:**

*By "adding new variants", I assume you are referring to `[%import]`-ing variant/record types.*

I agree that there are cases where customizing an external type would be necessary, and accommodating this seems out of scope for ppx_import.

However, there are cases where one wants to import and preserve a type, but add attribu

[2019-09-02 16:02] whitequark commented on #40
I mean that if the upstream is adding new variants (or fields for that matter), there will be no indication downstream that this happened. In particular, if you're just changing one field (maybe `_type`) that's reasonable; you essentially never want to update the downstream import in response to upstream changes. But your examples show that you want to attach attributes to many fields, which means

[2019-09-06 17:20] llelf opened #41 "ocaml 4.08"
I’m not yet versed enough in OCaml to fix it myself.
Is there a need of one another level of “migration” in `ppx_types_migrate.ml`?

[2019-09-09 18:39] ejgallego commented on #41
I had a quick look and indeed the 4.08 delta seems far from trivial, including stuff such as `Location.error`

Maybe the best approach would be to grant https://github.com/ocaml-ppx/ocaml-migrate-parsetree/issues/52

[2019-09-10 10:31] Pitometsu commented on #20
v. 1.6.2 still the same. Didn't it fixed in some commit yet?

[2019-09-10 10:48] Pitometsu opened #42 "Not working with deriving for Map"
`m.ml`
[code]
`a.ml`
[code]
[code]

[2019-09-20 17:55] frank-emrich opened #43 "Handling of groups of types"
Hi,

I'm interested in using `ppx_import` for a group of recursive types at once and applying the same substitutions to all of them. Essentially, I would need a form of `import` for this where you provide a list of types and the same `with` clause applies to all of them. From looking at the code I guess this is currently unsupported and would be quite hacky to implement for the existing `%import`

[2019-09-20 17:56] whitequark commented on #43
This syntax seems seriously flawed to me.

[2019-09-20 17:57] frank-emrich commented on #43
I agree it's far from ideal.... any idea for something nicer?

[2019-10-25 19:10] ejgallego commented on #42
Umm, not sure what you are trying to do, but indeed the error seems legit and unrelated to `ppx_import`?

[2019-10-25 19:28] Pitometsu commented on #42
Trying to avoid type definition duplication. Probably I miss the way how deriving work, so expected that type definition would be here directly, not refer to Base.Map.t.

[2019-10-25 19:28] #42 closed

[2019-10-28 17:01] #43 closed

[2019-11-18 05:10] XVilka opened #44 "Migrate to ppxlib"
@thierry-martinez FYI

[2020-02-21 18:14] #41 closed

[2020-04-19 20:51] chetmurthy opened #48 "suggestion: import for entire typedecl groups"
I'm writing a version of ppx_import for camlp5, and I noticed that there is only import for individual type-declarations.  But just as we don't like to write down the RHS of a type-decl, we might not want to write down all the type-names, either.  So it might be nice to have (e.g.)
[code]

[2020-07-04 20:01] christophe-riolo opened #50 "Incompatibility with 4.08 syntax"
I had a bug in my program that I could reproduce with a minimal example. I installed a fresh 4.08.1 opam switch, and installed only ppx_import, then tried to compile the following code:

[code]
Dune file being:
[code]

The error I get when I try to compile is:
[code]

In my project I had the same error when trying to use `let*` also. Removing the preprocessing stanza and the `%import` removes the

[2020-12-16 09:34] ulugbekna opened #51 "import a module to re-export it"
One often needs to export a module imported from another module, e.g.,

[code]

I think this could be solved by this ppx by something like

[code]

---

My use-case is to avoid this:

[code]

[2020-12-23 09:34] gasche commented on #51
Hi @ulugbekna! I am not too enthusiastic about your feature suggestion, because to me it falls outside the scope of `ppx_import`. The job of `ppx_import` is to lookup the full definition of an OCaml object defined elsewhere, for the purpose of facilitating "derived" definitions, metaprograms that inspect the full definition. What you propose is more of a syntactic convenience that is easily expand

[2020-12-24 14:07] ulugbekna commented on #51
Hi Gabriel! Thanks for your reply.

I was under impression that the behavior that I described fit into the semantics of word "import" and use-case similar to keywords "import" in Scala or python.

`open` populates the environment with more values from `Protocol` than I would like to.

[code]

[2020-12-24 14:36] gasche commented on #51
Yes, but the purpose of `ppx_import` is not to provide an "import" feature as in these languages for OCaml users (or in general to provide any sort of syntactic language features), but really to enable other extensions to do meta-programming on external/imported definitions.

[2020-12-24 14:52] ulugbekna commented on #51
Thanks for consideration! :-)

[2020-12-24 14:52] #51 closed

[2021-02-09 10:03] sim642 commented on #50
I'm having a similar issue but with [local module substitutions](https://caml.inria.fr/pub/docs/manual-ocaml/signaturesubstitution.html#ss:local-substitution) under 4.11.1, which makes no sense. Apparently ppx_import is still using `Ast_407`.

[2021-02-12 21:03] #50 closed

[2021-05-18 16:16] ejgallego opened #57 "[ci] Travis is shutting down, we need to migrate to GH actions"
Hi folks, this is just a reminder about two issues w.r.t. the CI:
- Travis will stop working in a few days, we need to migrate the CI setup to GH actions, I may try to do it next week using the setup we have for coq-serapi for example
- We also have ocaml-ci constantly failing, what is the problem there? If we cannot fix it IMHO we should disable it.

[2021-05-18 18:36] gasche commented on #57
I now have experience using the Gitlab CI for gitlab projects ( see my template project [gitlab-ocaml-ci-example](https://gitlab.com/gasche/gitlab-ocaml-ci-example/ ); I would be willing to help if we considered migrating to Gitlab. I'm not saying we should do this (it's just an option); I'm sure GH actions can be nice if someone is willing to manage it.

[2021-05-19 07:27] ejgallego commented on #57
Gitlab's CI is the system I know best by far, but indeed to make it convenient we would have to migrate from the `ocaml-ppx` org; no idea whether we should do this.

I can manage GH actions on the other case, even if I don't know it well, setup for this package seems pretty simple so we shouldn't have a lot of trouble.

[2021-05-20 10:21] #57 closed

[2021-07-13 16:32] pitag-ha opened #62 "Fix syntax to: `type%import t = Foo.bla [@@deriving sexp,yojson]`"
With the syntax `type t = [%import: Foo.bla]`, the `[%import: Foo.bla]` is written at a place where the OCaml parser expects a [core type extension node](https://github.com/ocaml/ocaml/blob/cce52acc7c7903e92078e9fe40745e11a1b944f0/parsing/parsetree.mli#L149-L150). But `ppx_import` doesn't only want to inject a core type (`ptype_manifest`) into the corresponding [type declaration](https://github.co

[2021-07-14 11:25] pitag-ha commented on #62
@gasche has pointed out [here](https://github.com/ocaml-ppx/ppx_import/pull/54#issuecomment-879343928) (in 3.) what I meant with "`ppx_import` doesn't conform to the OCaml AST":

The end of the sentence captures exactly what I want to say: the expansion of the node spreads onto the rest of the tree. From what I understand, extension nodes are meant to be expanded (as nodes), not to expand the rest

[2021-07-14 13:29] gasche commented on #62
The proposed syntax is okay, and with the `type%import` version it is actually nicer. However I don't understand how `[@@deriving]` directives would be handled with this version. Currently, if I understand correctly, ppx_import is not aware of any ulterior transformation that occur after it imports the definition; it works with `[@@deriving]` or other extensions without explicit coordination. Does

[2021-07-14 13:40] gasche commented on #62
Outside ppxlib, there are no strict requirements on how extension nodes should be interpreted by processors. There are also several good reasons why the interpretation of an extension node may sometimes want to leak outside its initial AST placement. Consider for example an extension that expands to an expensive computation that only needs to be done once per program execution. You want

[code]

t

[2021-07-14 15:53] pitag-ha commented on #62
Ok, I see your point. Thanks for the example! So I take back my general statement about extension nodes only meant to be local in general.

Maybe we can agree on the following? For performance and for predictability, extension nodes ideally don't leak outside their original AST placement unless it's in their nature to do so. It is not in the nature of `ppx_import` to leak outside its original AST

[2021-07-14 15:55] pitag-ha commented on #62
The latter.

That's because if you write `[%%import type t = foo] [@@deriving bar]`, the parser expects `bar` to be [an attribute attached to an extension point](https://github.com/ocaml/ocaml/blob/trunk/parsing/parsetree.mli#L936-L937), but `bar` is likely written as a [type declaration attribute](https://github.com/ocaml/ocaml/blob/trunk/parsing/parsetree.mli#L443). You can see in [this test](ht

[2021-07-14 16:34] gasche commented on #62
Yes, that sounds perfectly right to me.

(Note that, to someone who is not aware of the current AST structure, it is not clear that the extension handling is non-local: for all they can see, `type t = [%import Foo.t]` gets turned into something like `type t = Foo.t = A | B`, which at a source level seems to correspond to filling what's after the `=`.)

I think that the approach that you propose is

[2021-07-14 18:22] pitag-ha commented on #62
Another important benefit would be the improvement in performance!

I agree that usually the cost of a breaking change is high and therefore there must be really good reasons to accept that cost. But take into account that in this particular case the cost of the breaking change is quite low since upgrading to the new version would really just be as simple as running a command along the lines
[code

[2021-07-16 10:42] ejgallego commented on #62
IMVHO, the new syntax has several advantages, and given that there are only 10 rev deps in opam for ppx_import I think it'd be reasonable to deprecate it and remove it in a 2.0 version.

Personally, I am a fan of this kind of "little" improvements which make maintenance easier. On their own may not seem much, but in the wider context they do really add up.

[2022-01-10 11:52] ejgallego commented on #44
This is closed by #54 correct?

[2022-01-10 11:55] XVilka commented on #44
Looks like, yes.

[2022-01-10 11:55] #44 closed

[2022-09-09 14:58] tatchi opened #74 "Update the module type syntax"
To match the new type declaration implemented in #68

`module type Hashable = [%import: (module Hashtbl.HashedType)]` would become `module type%import Hashable = Hashtbl.HashedType`

[2022-09-09 14:59] tatchi commented on #74
@ejgallego it doesn't seem I've the right to change the milestone

[2022-09-09 15:17] ejgallego commented on #74
Ooops, I've tried to fix the permissions, you should have an invite.